<script src="assets/js/homepage.js"></script>


<div class="container-fluid wrapper">
  <div style="" id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="slideWrapperOne">
      </div>
    </div>

    <div class="item">
      <div class="slideWrapperTwo">
      </div>
    </div>

    <div class="item" >
      <div class="slideWrapperThree">
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container about animated">
  <h1 class="aboutHeader animated slideInLeft wow" style="animation-delay: 1s; margin-top: 50px;"> WHAT WE DO </h1>
  <div class="row" style="margin-top: -100px;">

    <div class="col-md-4" style="margin-top: 10%;">
      <h1 style="color: white; text-align: center;" class="animated wow fadeInDown"> Fans</h1>
      <p class="" style="padding: 15px; text-align: center; font-size: 30px;">Create unique and fashionable apparel pieces and merchandise that let's you connect deeper to the music of your<br> favorite artists.</p>
    </div>

    <div class="col-md-4" style="margin-top: 10%;">
      <h1 style="color: white; text-align: center;" class="animated wow fadeInDown"> Artists</h1>
      <p class="" style="padding: 15px; text-align: center; font-size: 30px;">Get a new and innovative way to engage with fans, while creating a new revenue stream.</p>
    </div>

    <div class=" col-md-4" style="margin-top: 10%;">
      <h1 style="color: white; text-align: center;" class="animated wow fadeInDown"> Charities</h1>
      <p class="" style="padding: 15px; text-align: center; font-size: 30px;">Receive a donation from every piece of merchandise sold. Boost your fundraising efforts and program sustainability goals.</p>
    </div>


    </div>
</div>



  <div class="container HowItWork">
    <h1 class="aboutHeader animated slideInLeft wow" style="animation-delay: 0.2s; top: 25px; color: rgba(245,245,245,0.9);"> HOW WE WORK </h1>
      <div class="row" style="margin: 0 auto;">
        <div class="col-md-4 step animated wow slideInLeft">
          <h1> Step One</h1>
            <p> Browse Artists and Merchandise. Listen to songs and view lyrics to figure out what Lyrics you want to Give to the world through your merch </p>
        </div>
        <div class="col-md-4 step animated wow fadeIn">
          <h1> Step Two</h1>
            <p> Select Merchandise... use Custom Generator to add Lyrics to Appearal, Protective Cases, and Yoga Mats </p>
        </div>
        <div class="col-md-4 step animated wow slideInRight">
          <h1> Step Three</h1>
            <p> Add to Cart, and have it shipped to your door ! </p>
        </div>
      </div>
  </div>

  <div class="container artists">
    <h1 class="aboutHeader animated slideInLeft wow" style="animation-delay: 0.2s; top: 25px; color: rgba(129,11,45,0.9);">GIVE LYRICS ARTISTS </h1>
      <div class="row" style="margin: 0 auto;">
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/apaak"routerLink="/apaak"  style="background-image: url('assets/images/dwele_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> DWELE </p>

          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/dwele" style="background-image: url('assets/images/danny_brown_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> DANNY BROWN </p>

          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/apaak" style="background-image: url('assets/images/paak_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> ANDERSON PAAK </p>
          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/royceda59" style="background-image: url('assets/images/royce_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> ROYCE DA 5'9 </p>
          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/sapp" style="background-image: url('assets/images/sapp_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> MARVIN SAPP </p>
          </div>
        </div>
      </div>


      <div class="row" style="margin: 0 auto;">
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/apaak" style="background-image: url('assets/images/vezzo_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> ICEWOOD VEZZO </p>
          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/icewearvezzo" style="background-image: url('assets/images/flint_eastwood_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> FLINT EASTWOOD </p>
          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/malcolmx" style="background-image: url('assets/images/malcomex_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> MALCOLM X </p>
          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/monicablaire" style="background-image: url('assets/images/monica_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> MONICA BLAIRE </p>
          </div>
        </div>
        <div class="col-md-2 artistWrapper animated slideInUp wow">
          <div class="artistthumbnail wow" routerLink="/apaak" style="background-image: url('assets/images/dwele_homepage.jpg'); background-position: cover;">
            <p class="artistcaption"> DANNY BROWN </p>
          </div>
        </div>
      </div>



  </div>

  <div class="container charitites">
    <h1 class="aboutHeader animated slideInLeft wow" style="animation-delay: 0.2s; top: 25px; color: rgba(245,245,245,0.9);"> CHARITIES WE SUPPORT </h1>
    <div class="row" style="margin: 0 auto;">
      <div class="col-md-2 artistWrapper animated slideInUp wow">
        <div class="charitythumbnail wow" routerLink="/apaak"routerLink="/apaak"  style="background-image: url('http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png'); background-position: cover;">
          <p class="charitycaption"> CHARITY </p>

        </div>
      </div>
      <div class="col-md-2 artistWrapper animated slideInUp wow">
        <div class="charitythumbnail wow" routerLink="/apaak" style="background-image: url('http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png'); background-position: cover;">
          <p class="charitycaption"> CHARITY </p>

        </div>
      </div>
      <div class="col-md-2 artistWrapper animated slideInUp wow">
        <div class="charitythumbnail wow" routerLink="/apaak" style="background-image: url('http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png'); background-position: cover;">
          <p class="charitycaption"> CHARITY </p>
        </div>
      </div>
      <div class="col-md-2 artistWrapper animated slideInUp wow">
        <div class="charitythumbnail wow" routerLink="/apaak" style="background-image: url('http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png'); background-position: cover;">
          <p class="charitycaption"> CHARITY </p>
        </div>
      </div>
      <div class="col-md-2 artistWrapper animated slideInUp wow">
        <div class="charitythumbnail wow" routerLink="/apaak" style="background-image: url('http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png'); background-position: cover;">
          <p class="charitycaption"> CHARITY </p>
        </div>
      </div>
    </div>
  </div>
