<div class="container" style="width: 100%; margin-top: 100px;">
  <div class="row artistnav">
    <div class="container" style="margin: 0 auto;">
    <div class="col-md-1 col-xs-4 genre rock" routerLink="/rockdisplay">
      <h2>Rock</h2>
    </div>
    <div class="col-md-1 col-xs-4 genre hiphop" style="margin-left: -10px;" routerLink="/hiphopdisplay">
      <h2>HipHop</h2>
    </div>
    <div class="col-md-1 col-xs-4 genre rb" routerLink="/rbdisplay">
      <h2>R&B</h2>
    </div>
    <div class="col-md-1 col-xs-4 genre edm" style="margin-left: -10px; margin-right: -10px;" routerLink="/edmdisplay">
      <h2 >EDM</h2>
    </div>
    <div class="col-md-1 col-xs-4 genre country" routerLink="/countrydisplay">
      <h2>Country</h2>
    </div>
    <div class="col-md-1 col-xs-4 genre pop" routerLink="/countrydisplay">
      <h2>Pop</h2>
    </div>
    <div class="col-md-1 col-xs-4 genre blues" style="margin-left: -25px; margin-right: -10px;" routerLink="/countrydisplay">
      <h2>Blues</h2>
    </div>
    <div class="col-md-1 col-xs-4 genre gospel" routerLink="/countrydisplay">
      <h2>Gospel</h2>
    </div></div>
  </div>
